[submodule "xivFaderPlugin"]
	path = xivFaderPlugin
	url = https://github.com/Pistachio-dev/xivFaderPlugin.git
[submodule "Brio"]
	path = Brio
	url = https://github.com/Etheirys/Brio.git
[submodule "Cammy"]
	path = Cammy
	url = https://github.com/Pistachio-dev/Cammy.git
