[submodule "xivFaderPlugin"]
	path = xivFaderPlugin
	url = https://github.com/Pistachio-dev/xivFaderPlugin.git
[submodule "Cammy"]
	path = Cammy
	url = https://github.com/Pistachio-dev/Cammy.git
[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons.git
